
h4 {
  margin-top: 1.5em ;
  margin-bottom: 1em ;
}

h5 {
  display: none ;
}

.section.level4 > p,
.section.level4 > pre {
  margin-left: 24px ;
}



.table {
  margin: auto ;
  max-width: 500px ;
  whitespace: nowrap;
}

td, th {
  white-space: nowrap;
}

/* Settings for the solutions section */
.section.level5 {
  background-color: #EEEEEE ;
  border: solid #337ab7;
  border-width:  3px;
  padding: 8px 8px 8px 8px ;
  border-radius: 10px ;
  margin-left: 16px ;
}


/* Settings for the Recall seection at the start of the document. */ 
#recall {
  color: black;
  /*background-color: #EEEEEE ;*/
  border: solid #337ab7;
  /*border-width: 3px ;*/
  border-width:  3px 0px 3px 0px;
  /*border-radius: 10px ;*/
  border-radius: 0px ;
  padding: 6px 30px 30px;
  margin: 60px ;
}



/* Counter for level 4 headings. - Need to turn off numbering of these with {-} */ 
h3 {
  counter-reset: counter-level-4;
}

h4:not(.date)::before {
  counter-increment: counter-level-4;
  content: counter(counter-level-4) ". ";
}








